body {
  font-size: 20px;
  font-family: 'Pangolin', cursive;

}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
font-family: 'Big Shoulders Display', cursive;
text-align:center;
}


p,li{
  line-height: 1.5;
  margin: 30px 0;
  font-size: 22px;
}

/* container */

.container-fluid{
      padding:3% 15%;
}

/* heading section */

.masthead {
  margin-bottom: 50px;
  background: no-repeat center center;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
}


header.masthead .site-heading {
  padding:30% 0%;
  color: white;
  position: relative;
  top:20%;

}


/* section */
.colored-section{
      background-color: #000;
      color:white;
}

.white-section{
      background-color:#fff;
}
/* Navigation bar */

.navbar-brand{
      font-size: 2rem;
}

/*   WHAT ARE CHATBOTS?*/
.post-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.image-2,.image-1{
  padding-left:5%;
  padding-right:5%;
}


@media (max-width:750px){
      body,p,h2{
            font-size: 30px;
            }
      .container-fluid{
        padding: 2% 5%;
      }
}

@media (max-width:576px){
  .image-2,.image-1{
    padding:0%
  }
  p,li{
        font-size:20px;
        }
}

/* footer section */

#footer{
  padding:2% 0%;
}
