

body {
  font-size: 20px;
  font-family: 'Pangolin', cursive;
  text-align: center;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
font-family: 'Big Shoulders Display', cursive;
}


p,li{
  line-height: 1.5;
  margin: 30px 0;
  text-align: left;
  font-size: 22px;
}

/* container */

.container-fluid{
      padding:3% 15%;
}

/* heading section */

.masthead {
  margin-bottom: 50px;
  background: no-repeat center center;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
}


header.masthead .site-heading {
  padding:30% 0%;
  color: white;
  position: relative;
  top:20%;
  text-align: left;
}


/* section */
.colored-section{
      background-color: #000;
      color:white;
}

.white-section{
      background-color:#fff;
}
/* Navigation bar */

.navbar{
      padding:0 0 4.5rem;
}

.navbar-brand{
      font-weight:bold;
      font-size: 2rem;
      font-family: 'Ubuntu';
}




/*   WHAT ARE CHATBOTS?*/

.post-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.image-1{
      padding: 4% 0 4%;
      width:80%;
}
/* WAYS HOW CHATBOTS RULING ONLINE MEDIA STAGE */
.image-2{
  border-radius: 2%;
  width:60%;

}

@media (max-width:946px){
     .image-1,.image-2{
            width:100%;
          }

      body,p{
            text-align: center;
            }
}




/* footer section */

#footer{
  padding:2% 0%;

}
